<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="bookstyle.css">
</head>
<html>
  
  <div id="app">
    <div id="topbar">
    <div class="topitem"><a href="about.html">About</a></div>
    <div class="topitem"><a href="stats.html">Statistics</a></div>
    <div class="topitem"><a href="new.html">Search</a></div>
    <div class="topitemright"><a href="login.html">Sign in</a></div>
    <div class="topitemright"><a href="profile.html">My profile</a></div>
    </div>

    <div id="content">
    <div id="left">
    <h1>Jane Eyre</h1>
    
    <hr>
    <h4>Book uid: 1260</h4>
    <p style="font-size:120%;">by <a href="">Charlotte Brontë</a></p>
    <p>Author birthyear: <b>1900</b></p>
    <p>Year released: <b>1900</b></p>
    <p>Word count: <b>187,150</b></p>
    <p>Avg sentence length: <b>17.0147</b></p>
    <p>Avg word length: <b>4.5</b></p>
    <p>Avg user rating: <b>7.9/10</b></p>
    <p>Ratings count: <b>47</b></p>
    <p style="display:inline-block;">My rating:</p>
    <!-- <img id="star1" src="star_full.png" alt="Star">
    <img id="star2" src="star_full.png" alt="Star">
    <img id="star3" src="star_full.png" alt="Star">
    <img id="star4" src="star.png" alt="Star">
    <img id="star5" src="star.png" alt="Star">
    <img id="star6" src="star.png" alt="Star">
    <img id="star7" src="star.png" alt="Star">
    <img id="star8" src="star.png" alt="Star">
    <img id="star9" src="star.png" alt="Star">
    <img id="star10" src="star.png" alt="Star"> -->
    <input style="
    width: 30px;
    border-width: 1px;
    border-style:solid;
    border-color: #5f0404;
    height:24px;
    border-radius:4px;
    font-size:15px;
    display: inline-block;" />
    <button style="font-weight: bold; 
    display: inline-block;

    height:24px;
    text-align:center;
    border-radius:4px;
    font-size:15px;
    background-color: #f4f4f4;
    border-width: 1px;
    border-style:solid;
    border-color: #5f0404;" 
    class="rating_button">Rate this book</button>

    <div class="tables" style="margin-left:auto;
    margin-right:auto;">
    <div class="words" style="display: inline-block;
    margin-right: 10px;
    text-align:left;
    margin-right: 50px">
    <p><b>Top 5 most popular words:</b></p>
    <table style="display: inline-block;">
    <tr style="">
    <th style="color: #5f0404;">Word</th>
    <th style="color: #5f0404;">Frequency</th>
    </tr>
    <tr style="">
    <td>Darcy</td>
    <td>1,547</td>
    </tr>
    <tr>
    <td>Jane</td>
    <td>1,378</td>
    </tr>
    <tr>
    <td>other1</td>
    <td>1,198</td>
    </tr>
    <tr>
    <td>other2</td>
    <td>1,198</td>
    </tr>
    <tr>
    <td>other3</td>
    <td>1,198</td>
    </tr>
    </table>
    </div>
    <div class="sequences" style="display: inline-block;">
    <p><b>Top 5 most popular sequences:</b></p>
    <table style="display: inline-block;">
    <tr>
    <th style="color: #5f0404;">Word</th>
    <th style="color: #5f0404;" >Next word</th>
    <th style="color: #5f0404;">Frequency</th>
    </tr>
    <tr>
    <td>Mr.</td>
    <td>Darcy</td>
    <td>1,147</td>
    </tr>
    <tr>
    <td>gold</td>
    <td>curtains</td>
    <td>778</td>
    </tr>
    <tr>
    <td>than</td>
    <td>love</td>
    <td>698</td>
    </tr>
    <tr>
    <td>this</td>
    <td>one</td>
    <td>698</td>
    </tr>
    <tr>
    <td>this</td>
    <td>two</td>
    <td>698</td>
    </tr>
    </table>
    </div>
    </div>
    
    <p>Comments:</p>
    <table class="comments" style="width: 90%;">
    <tr>
    <th style="color: #5f0404;">Username</th>
    <th style="color: #5f0404;">Time</th>
    <th style="color: #5f0404;">Comment</th>
    </tr>
    <tr>
    <td>alexangel</td>
    <td>Sat Nov 17 6:09pm</td>
    <td>Highly recommend this book!</td>
    </tr>
    <tr>
    <td>user2</td>
    <td>Sat Nov 17 6:10pm</td>
    <td>comment2</td>
    </tr>
    </table>
    <p>Post a comment:</p>
    <div class="commentarea"
    style="display:inline-block; text-align:center;
    width: 70%; margin:5px;">

    <textarea style ="width:100%" id="comment" name="comment" cols="40" rows="5">
    </textarea>
    <button class="publish" style="font-weight: bold; 
    height: 20px; 
    display:block;
    margin:auto;
    height:24px;
    text-align:center;
    border-radius:4px;
    font-size:15px;
    background-color: #f4f4f4;
    border-width: 1px;
    border-style:solid;
    border-color: #5f0404;" >Publish comment</button>

    </div>
    </div>

    <div id="right">
    <h1>Top 5 similar books</h1>
    <hr>
    <ol>
    <li style="font-size: 110%;"><a class="booktitle" href="">Jane Eyre</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">Pride and Prejudice</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">Huckleberry Finn</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">Sense and Sensibility</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">The Bible</a></li>
    </ol>
    <h1>Top 5 similar authors</h1>
    <hr>
    <ol>
    <li style="font-size: 110%;"><a class="booktitle" href="">Author 1</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">Author 2</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">Author 3</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">Author 4</a></li>
    <li style="font-size: 110%;"><a class="booktitle" href="">Author 5</a></li>
    </ol>
    </div>
    </div>

    <hr>
    <div id="title"><img id="logo" src="logo.png" alt="LinguisticDB Logo"></div>
    
  </div>
</html>