<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<html>
  
  <div id="app">
    <div id="topbar">
    <div class="topitem"><a href="about.html">About</a></div>
    <div class="topitem"><a href="stats.html">Statistics</a></div>
    <div class="topitem"><a href="new.html">Search</a></div>
    <div class="topitemright"><a href="login.html">Sign in</a></div>
    <div class="topitemright"><a href="profile.html">My profile</a></div>
    </div>
    <div id="title"><img id="logo" src="logo.png" alt="LinguisticDB Logo"></div>
    <div id="search">
      <input id="box" v-model="searchText" type="text" size="100">
      <select id="select" v-model="searchField">
        <option disabled value="">Field</option>
        <option>Title</option>s
        <option>Author</option>
        <option>Year Released</option>
        <option>Word Count</option>
        <option>Sentence Length</option>
      </select>
      
    </div>
    <div class="button">
      <button class="button2" type="button" v-on:click="search">Search</button>

      <button class="button2" type="button" v-on:click="search">Advanced Search&darr;</button>

    </div>
    <div id="advancedsearch">
      <h4 class="color">Advanced Search</h4>
      <h4>Find books with...</h4>
      <div class="searchelem">
      <p>Title is exactly:</p>
      <input class="search1" placeholder="eg. Wuthering Heights" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Title contains:</p>
      <input id="search2" placeholder="eg. Wuthering" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Author is exactly:</p>
      <input id="search3" placeholder="eg. Jane Austen" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Author name contains:</p>
      <input id="search4" placeholder="eg. Austen" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Author born between:</p>
      <input class="double" placeholder="Insert lower bound as integer" id="search5" v-model="searchText" type="text" size="100">
      <p class="and">and</p>
      <input class="double" placeholder="Insert upper bound as integer" id="search6" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Words per sentence between:</p>
      <input class="double" placeholder="Insert lower bound as decimal" id="search7" v-model="searchText" type="text" size="100">
      <p class="and">and</p>
      <input class="double" placeholder="Insert upper bound as decimal" id="search8" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Word count between:</p>
      <input class="double" placeholder="Insert lower bound as integer" id="search9" v-model="searchText" type="text" size="100">
      <p class="and">and</p>
      <input class="double" placeholder="Insert upper bound as integer" id="search10" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Avg word length between:</p>
      <input class="double" placeholder="Insert lower bound as decimal" id="search11" v-model="searchText" type="text" size="100">
      <p class="and">and</p>
      <input class="double" placeholder="Insert upper bound as decimal" id="search12" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Download count between:</p>
      <input class="double" placeholder="Insert lower bound as integer" id="search13" v-model="searchText" type="text" size="100">
      <p class="and">and</p>
      <input class="double" placeholder="Insert upper bound as integer" id="search14" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Avg rating between:</p>
      <input class="double" placeholder="Insert lower bound as decimal" id="search15" v-model="searchText" type="text" size="100">
      <p class="and">and</p>
      <input class="double" placeholder="Insert upper bound as decimal" id="search16" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Frequent word:</p>
      <input id="search17" placeholder="eg. Yorkshire" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <p>Contains all these words:</p>
      <input id="search18" placeholder="eg. Heathcliff, Earnshaw" v-model="searchText" type="text" size="100">
      </div>
      <div class="searchelem">
      <div class="searchelem">
      <p>Similar to book:</p>
      <input class="double" placeholder="Insert book id" id="search19" v-model="searchText" type="text" size="100">
      <p class="and">with rank ></p>
      <input class="double" placeholder="Insert bound here as int" id="search20" v-model="searchText" type="text" size="100">
      </div>


      <div id="searchbutton2" class="button">
      <button class="button2" type="button" v-on:click="search">Search!</button>
    </div>
    </div>
     
    <div id="results">
      <h5>27 results</h5>
      <div v-for="book in rowsReturned" class="result">
          <div><a class="booktitle" href="book.html">Jane Eyre</a></div>
          <div v-if="book.name">by <a href="#">Charlotte Bronte</a></div>
          <div v-if="book.rating">Rating: 8.1/10</div>
          <div v-if="book.total_count">Word count: 27008</div>
          <div v-if="book.link">Project Gutenberg link: <a href="http://www.gutenberg.org/ebooks/1260">http://www.gutenberg.org/ebooks/1260</a></div>
      </div>
    </div>
  </div>
</html>