<head>
<link rel="stylesheet" type="text/css" href="bookstyle.css">
</head>
<html>
  
  <div id="app">
    <div id="topbar">
    <div class="topitem"><a href="about.html">About</a></div>
    <div class="topitem"><a href="stats.html">Statistics</a></div>
    <div class="topitem"><a href="new.html">Search</a></div>
    <div class="topitemright"><a href="login.html">Sign in</a></div>
    <div class="topitemright"><a href="profile.html">My profile</a></div>
    </div>

    <div id="content">
    <div id="left">
    <h1>My profile</h1>
    <hr>
    <p>My username: alexangel<p>
    <p>My email: alexangel@email.com<p>
    <hr>
    <p><b>Change password</b></p>
    <p>Enter old password</p>
    <input style="
    width: 30%;
    border-width: 1px;
    border-style:solid;
    border-color: #5f0404;
    height:24px;
    border-radius:4px;
    font-size:15px;
    display: block;
    margin: 5px;" type="password" placeholder="Enter old password" />
    <p>Enter new password</p>
    <input style="
    width: 30%;
    border-width: 1px;
    border-style:solid;
    border-color: #5f0404;
    height:24px;
    border-radius:4px;
    font-size:15px;
    display: block;margin: 5px;" type="password" placeholder="Enter new password"/>
    <p>Enter new password again</p>
    <input style="
    width: 30%;
    border-width: 1px;
    border-style:solid;
    border-color: #5f0404;
    height:24px;
    border-radius:4px;
    font-size:15px;
    display: block;margin: 5px;" type="password" placeholder="Enter new password again"/>
    <button class="publish" style="font-weight: bold; 
    display:block;
    height:24px;
    text-align:left;
    border-radius:4px;
    font-size:15px;
    background-color: #f4f4f4;
    border-width: 1px;
    border-style:solid;
    border-color: #5f0404;margin: 5px;" >Change password</button>
    </div>


    <div id="right">
    <h1>Books I rated</h1>
    <hr>
    <p><a href="book.html">Jane Eyre</a><br>My rating: 7/10</p>
    <p><a href="">Book 2</a><br>My rating: 8/10</p>
    <p><a href="">Book 3</a><br>My rating: 7/10</p>
    <p><a href="">Book 4</a><br>My rating: 6/10</p>
    <p><a href="">Book 5</a><br>My rating: 7/10</p>
    <h1>Books I commented on</h1>
    <hr>
    <p><a href="book.html">Jane Eyre</a></p>
    <p><a href="">Book 2</a></p>
    <p><a href="">Book 3</a></p>
    <p><a href="">Book 4</a></p>
    <p><a href="">Book 5</a></p>
    </div>
    </div>

    <hr>
    <div id="title"><img id="logo" src="logo.png" alt="LinguisticDB Logo"></div>
    
  </div>
</html>