

#app {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  margin-top:40px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
 
/*div, input, select, button, p, h4 {

  border-width: 1px;
  border-color: black;
  border-style: solid;
}*/
#logo {

  width:40%;
}
#content {
  margin-top:30px;
  text-align:center;
  width:100%;

}
#left, #right {
  width:47%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  display:inline-block;
  vertical-align: top;
}
#topbar  {
  width: 100%;
  background-color: #5f0404;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
#topbar  a { 
  color:white;
  text-decoration: none;
}
#topbar  a:hover { 
  color:white;
  text-decoration: underline;
}
.topitem  {
  display: inline-block;
  float: left;

  margin-left:8px;
  margin-right:8px;
  margin-top:8px;
  margin-bottom:8px;
}
.topitemright  {
  display: inline-block;
  float: right;
  margin-left:6px;
  margin-right:6px;
  margin-top:6px;
  margin-bottom:6px;

}
#title  {
  font-size: 3em;
  padding-bottom: 2%;
  width: 80%;
  display: inline-block;
  text-align:center;

