<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<html>
  
  <div id="app">
    <div id="topbar">
      <div class="topitem"><a href="/">About</a></div>
    <div class="topitem"><a href="/">Statistics</a></div>
    <div class="topitemright"><a href="/">Sign in</a></div>
    <div class="topitemright"><a href="/">My profile</a></div>
    </div>
    <div id="title">LinguisticDB</div>
    <div id="search">
      <input id="box" v-model="searchText" type="text" size="100">
      <select id="select" v-model="searchField">
        <option disabled value="">Field</option>
        <option>Title</option>
        <option>Author</option>
        <option>Year Released</option>
        <option>Word Count</option>
        <option>Sentence Length</option>
      </select>
      
    </div>
    <div class="button">
      <button class="button2" type="button" v-on:click="search">Search</button>

      <button class="button2" type="button" v-on:click="search">Advanced Search&darr;</button>

    </div>
    <div id="advancedsearch">
      <h4>Advanced Search</h4>
      <h4>Find books with...</h4>
      <div id="searchelem">
      <p>Title is exactly:</p>
      <input id="search1" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Title contains:</p>
      <input id="search2" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Author is exactly:</p>
      <input id="search3" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Author name contains:</p>
      <input id="search4" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Author born between:</p>
      <input class="double" id="search5" v-model="searchText" type="text" size="100">
      <p>and</p>
      <input class="double" id="search6" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Words per sentence between:</p>
      <input class="double" id="search5" v-model="searchText" type="text" size="100">
      <p>and</p>
      <input class="double" id="search6" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Word count between:</p>
      <input class="double" id="search5" v-model="searchText" type="text" size="100">
      <p>and</p>
      <input class="double" id="search6" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Avg word length between:</p>
      <input class="double" id="search5" v-model="searchText" type="text" size="100">
      <p>and</p>
      <input class="double" id="search6" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Download count between:</p>
      <input class="double" id="search5" v-model="searchText" type="text" size="100">
      <p>and</p>
      <input class="double" id="search6" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Avg rating between:</p>
      <input class="double" id="search5" v-model="searchText" type="text" size="100">
      <p>and</p>
      <input class="double" id="search6" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Most popular word:</p>
      <input id="search4" v-model="searchText" type="text" size="100">
      </div>
      <div id="searchelem">
      <p>Similar to:</p>
      <input id="search4" v-model="searchText" type="text" size="100">
      </div>


      <div id="search2" class="button">
      <button class="button2" type="button" v-on:click="search">Search!</button>
    </div>
    </div>
     
    <div id="results">
      <div v-for="book in rowsReturned" class="result">
          <div><a href="/">Price and Prejudice</a></div>
          <div v-if="book.name">by <a href="/">Jane Austen</a></div>
          <div v-if="book.total_count">Rating: 8.1/10</div>
          <div v-if="book.per_sentence">Word count: 27008</div>
      </div>
    </div>
  </div>
</html>