<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<html>
  
  <div id="app">
    <div id="topbar">
      <div class="topitem"><a href="/">About</a></div>
    <div class="topitem"><a href="/">Statistics</a></div>
    <div class="topitemright"><a href="/">Sign in</a></div>
    <div class="topitemright"><a href="/">My profile</a></div>
    </div>
    <div id="title">LinguisticDB</div>
    <div id="search">
      <input id="box" v-model="searchText" type="text" size="100">
      <select id="select" v-model="searchField">
        <option disabled value="">Field</option>
        <option>Title</option>
        <option>Author</option>
        <option>Year Released</option>
        <option>Word Count</option>
        <option>Sentence Length</option>
      </select>
      
    </div>
    <div class="button">
      <button class="button2" type="button" v-on:click="search">Search</button>
    <div class="button2">
      <button class="button2" type="button" v-on:click="search">Advanced Search&darr;</button>
    </div>
    </div>
     
    <div id="results">
      <div v-for="book in rowsReturned" class="result">
          <div><a href="/">Price and Prejudice</a></div>
          <div v-if="book.name">by <a href="/">Jane Austen</a></div>
          <div v-if="book.total_count">Rating: 8.1/10</div>
          <div v-if="book.per_sentence">Word count: 27008</div>
      </div>
    </div>
  </div>
</html>